#search_bar {
    /* text-align: right; */
    /* width: 4cm; */
    margin: 1%;
}

#search_button1 {
    text-align: right;
}

#footer_row {
    text-align: center;
}

.info {
    text-align: center;
}

.info .title {
    text-align: center;
}

#search_form {
    text-align: right;
}

/* .test10 {
    background-image: 'https://s3-media0.fl.yelpcdn.com/bphoto/8GJlTUym3WOcfMKF28v2Gw/o.jpg';
} */