<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yelp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <!-- Mission to Mars Header -->
    <div class="jumbotron text-center">
      <h1>Yelp</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- NASA News -->
    <div class = "row">
        <div class = "col-md-12">
            <div class = "container border-box">
                <h2>Yelp</h2>
                <p>{{yelp.Yelp_Reviews}}</p>
                <p>{{yelp.Yelp_Stars}}</p>
            </div>
        </div>
    </div>


  </div>
</body>

</html>

